* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
    background-image: url("../images/final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .text {
    color: rgb(255, 255, 255);
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }
  .title {
    color: white;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  
  .box-main {
    width: 845px;
    height: 380px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: rgba(87, 82, 82, 0.431);
    border-radius: 10px;
  }
  
  span {
    color: rgb(112, 54, 174);
  }
  
  .options {
    width: 800px;
    height: 225px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  
  .buttom {
    background-color:rgb(201, 134, 8);
    color:white;  
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    border:none;
  }
  
  .buttom:active {
    background-color:rgb(69, 33, 8);
    color:white;  
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    border:none;
  }
  
  .text-buttom {
    color: white;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px
  }
  
  .red {
    color: rgb(146, 15, 15);
  }
